{% extends 'base.html' %} 

{% block page_name %}
    Home
{% endblock %}

{% block content %}
    
    {% for room in rooms.objects_list %} <!-- objects_list는 rooms에서 온 것 -->
        <h4> {{room.name}} / ${{room.price}} </h4>
    {% endfor %}
    
    <h5>
    <!--  -->
    {% if page is not 1 %}
        <a href="?page={{page|add:-1}}">Previous</a>
    {% endif %}
    Page {{rooms.number}} of {{rooms.paginator.num_pages}}
    {% if not page == rooms.paginator.num_pages %}
    <a href="?page={{page|add:1}}">Next</a>
    {% endif %}
    </h5>


{% endblock content%}

